:root{
    --primary: #C6E5F4;
    --secondary: #72ABC6;
    --letterdark: #3F6678;
    --letterlight: #FFFFFF;
    --lettermid: #5E5E5E;
    --textback: #DAE7EE;
}
.logo{

    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.mhead{
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 25px;
    color: var(--letterdark)
}

.secondt{
    display: flex;
    justify-content: center;
    color: var(--lettermid);
}

.main{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
   width: 900px;
   padding: 50px;
   margin: auto;
}

.mainleft{
    float: left;
    width: 50%;
}

.mainright{
    float: right;
    width: 50%;
}

.binput{
    background-color: var(--textback);
    border-radius: 10px;
}

#mm{
    height: 50px;
}

#cmm{
    height: 50px;
    width: 400px;
}

.conb{

    display: flex;
    text-align: center;
    justify-content: center;


}

.submitb{
    margin: 100px;
    color: white;
    background-color: var(--secondary);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.submitcon{
    margin: 100px;
    
    background-color: var(--primary);
    border-radius: 10px;
    width: 200px;
    display: block;
    margin: 0 auto;
}


.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .ddcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
  }

.ddbutton{
    transform: scale;
}

  .dropdown:hover .ddcontent {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .comainright{
    padding: 20px;
  }

  .combod{
    background-color: var(--primary);
  }

  .winput{
    background-color: white;
    border-radius: 10px;
  }

  .comcon *{
    margin: 10px;
  }

  #submitpro{
    margin: 50px;
    background-color: var(--primary);
    border-radius: 10px;
    width: 100px;
    height: 25px;
    display: block;
    margin: 0 auto;
}

button:active{
    background-color: var(--letterdark)
}

a:active{
    background-color: var(--letterdark);
}
