:root{
    --primary: #C6E5F4;
    --secondary: #72ABC6;
    --letterdark: #3F6678;
    --letterlight: #FFFFFF;
    --lettermid: #5E5E5E;
}

.mainleft{
    display: flex;
   justify-content: center;
}